<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.com.ifca.defecttracking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SelectTradeActivity" />
        <activity android:name=".Activities.SelectUnitActivity" />
        <activity android:name=".Activities.TakeDefectPictureActivity" />
        <activity android:name=".Activities.ConfirmDefectActivity" />
        <activity android:name=".Activities.DefectManagementActivity" />
        <activity android:name=".Activities.LogInActivity" />
        <activity android:name=".Activities.DefectDetailActivity" />
        <activity android:name=".Activities.UserManagementActivity" />
        <activity android:name=".Activities.DefectListActivity"></activity>
    </application>

</manifest>